<header>
  <nav class="navbar">
    <ul class="navbar-links">
      <li>
        <a class="app-text-logo roboto-bold" href=".">Link shortener</a>
      </li>
      <li>
        <a class="navbar-link roboto-medium" href=".">Features</a>
      </li>
      <li>
        <a class="navbar-link roboto-medium" href=".">Pricing</a>
      </li>
      <li>
        <a class="navbar-link roboto-medium" href=".">Resources</a>
      </li>
      <li class="horizonal-space"></li>
      <li class="navbar-options">
        <a class="roboto-medium btn nav-bar-btn text-gray" href=".">Login</a>
        <a class="roboto-medium btn nav-bar-btn btn-primary" href="."
          >Sign Up</a
        >
      </li>
    </ul>
  </nav>
</header>
